POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=password

POSTGRES_URL=postgresql+asyncpg://user:password@127.0.0.1:5432/mydb

POSTGRES_SYNC_URL=postgresql://user:password@127.0.0.1:5432/mydb #bez asyncpg, pro alembic